

.panel {
    width: 100%;
    padding-top: 40px;
    background-color: rgba(22, 22, 22, 0.667);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(19, 35, 37);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}