{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src",
          "components":"./src/components",
          "demo":"./src/demo",
          "utils":"./src/utils",
          "plugin":"./src/plugin"
        }
      }
    ]
  ]
}
