mixin slider-example({ isInline = false, instance = 1 } = {})
    .slider-example
      if isInline 
        div(data-slider="true")
      else
        div(class=`slider-${instance} js-slider-${instance}`)
