.slider {
  position: relative;
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 5px;
  border-radius: 30px;

  &_vertical {
    height: 100%;
    width: 5px;
  }

  &__track {
    background-color: rgb(70, 70, 70);
    width: 100%;
    height: inherit;
    border-radius: inherit;
    cursor: pointer;

    &_vertical {
      height: 100%;
      width: inherit;
    }
  }

  &__thumb {
    background-color: rgb(43, 177, 166);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 50%;
    z-index: 20;
    user-select: none;
  }

  &__tip {
    position: absolute;
    font-size: 16px;

    &_horizontal {
      bottom: 1.5rem;
    }

    &_vertical {
      padding: 1rem;
      transform: translateX(-50%);
    }
  }

  &__scale {
    position: relative;
    margin-top: 5px;

    &-mark {
      position: absolute;
    }

    &-line {
      background-color: rgb(43, 177, 166);
      position: absolute;
      height: 10px;
      width: 1px;

      &_vertical {
        height: 1px;
        width: 10px;
      }
    }

    &-number {
      font-size: 12px;
      position: relative;
      top: 15px;
      font-weight: bold;
      opacity: 0.5;
      transition: 0.1s linear;
      left: -50%;
      cursor: pointer;

      &_vertical {
        left: 15px;
        transform: translateY(-150%);
        margin-left: 5px;
      }

      &:hover {
        opacity: 1;
      }
    }

    &_vertical {
      height: 100%;
      margin-top: 0;
      top: -100%;
      margin-left: 10px;
      right: -100%;
    }
  }

  &__fill {
    background-color: rgb(43, 177, 166);
    z-index: 10;
    position: absolute;
    top: 0;
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
    transition: all 0.2s ease;

    &_vertical {
      height: 100%;
      width: inherit;
      bottom: 0;
      top: auto;
    }
  }
}
